<form [formGroup]='signinForm' (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <div class="col-xs-12">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" placeholder="Enter user's email" formControlName="email" (input)="errorMessage.email = null">
      <p style="color: red" *ngIf="errorMessage.email">{{errorMessage.email}}</p>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-xs-12">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Enter user's password" formControlName="password" (input)="errorMessage.password = null">
      <p style="color: red" *ngIf="errorMessage.password">{{errorMessage.password}}</p>
    </div>
  </div>

  <div class="form-group row pull-right">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-success" [disabled]="!signinForm.valid">Signin</button>
    </div>
  </div>
</form>